<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">As</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/products/add}">Add Product</a></li>
                            <li><a th:href="@{/products/}">Products Listing</a></li>
                        </ul>
                    </li>
                    <!--if admin - register user as admin/normal-->
                    <!-- if register page, register user as normal-->
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Users <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/user/register}">Add User</a></li>
                            <li><a th:href="@{/user/}">Users Listing</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" th:text=" ${authName}"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/logout}">Log Out</a></li>
                            <li th:if="${#strings.contains(#authentication.getAuthorities(), 'ADMIN')}"><a th:href="@{/}" th:text="${#authentication.getAuthorities()}"></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>

</html>