<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="import">

        <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>

        <script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}" ></script>

        <script th:src="@{/webjars/datatables/1.10.12/js/dataTables.bootstrap.min.js}"></script>

        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <script th:src="@{/js/custom.js}"></script>

        <link th:href="@{/webjars/datatables/1.10.12/css/jquery.dataTables.min.css}"
              th:rel="stylesheet" th:media="screen"/>

        <link th:href="@{/webjars/datatables/1.10.12/css/dataTables.bootstrap.min.css}"
              th:rel="stylesheet" th:media="screen"/>

        <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
              th:rel="stylesheet" th:media="screen"/>

        <link th:href="@{/css/custom.css}"
              th:rel="stylesheet" th:media="screen"/>

        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
              th:rel="stylesheet" th:media="screen"/>

    </th:block>

</html>