<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="screen"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="/webjars/jquery/3.1.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <link th:href="@{/css/custom.css}" href="/css/custom.css" rel="stylesheet" media="screen"/>
    <title>Title</title>
</head>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Thymeleaf pls</h1>
        <p>Thymeleaf, Thymeleaf and Thymeleaf</p>
    </div>
</div>

<th:block th:include="partials/header :: header"></th:block>
<body>

<div class="col-md-6">
    <div class="container">
        <a href="product/add" th:href="@{/product/add}" class="btn btn-sm btn-success">Add Product</a>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img th:src="@{/images/img_avatar.png}" alt="Avatar" style="width:100%"/>
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect and Engineer</p>
                        <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="container">
        <div>
            <h2 class="font-green">$1.00</h2>
            <h3>Description</h3>
            <p>Facilisis a erat malesuada taciti enim auctor sagittis urna vitae vestibulum </p>
            <p>convallis parturient nam eu sem a ut enim vestibulum et cursus lobortis parturient ad.</p>
            <p>Class quam condimentum suspendisse venenatis sapien faucibus montes tristique enim malesuada.</p>
        </div>
    </div>
</div>

</body>
</html>